{% extends 'polls/nav.html'%}
{% block content %}
    <div class="page">
        <div class="content">
            <h1>¡BIENVENIDOS A PINFBET!</h1>
            <p>
            PINFBet es una aplicación web de apuestas estudiantiles desarrollada por el grupo 22 de la asignatura de Proyectos Informáticos de la Universidad de Cádiz. <br><br>

            El grupo 22 está compuesto por: 
            <ul>
                <li><a href={% url 'polls:perfilext' usuario="Miju"%}>Eliseo Fernández Monroy</a></li>
                <li><a href={% url 'polls:perfilext' usuario="renjian"%}>Antonio de los Reyes Pérez</a></li>
                <li><a href={% url 'polls:perfilext' usuario="ivan"%}>Iván López Ceballos</a></li>
                <li><a href={% url 'polls:perfilext' usuario="_paquito"%}>Francisco Chanivet Sánchez</a></li>
            </p>
        </div>
    </div> 
{% endblock %}