{% extends 'polls/nav.html'%}
{% block content %}
    <div class="page">
        <div class="content">
            <h1>CONTACTO</h1>
            <p>
            En caso de tener algún problema con el funcionamiento de la aplicación, no duden en ponerse en contacto con nosotros mediante el siguiente correo electrónico:
                <blockquote><a href="mailto:pinfbet22@gmail.com">pinfbet22@gmail.com</a></blockquote>
            <h2>¿Quieres publicitarte en nuestra página?</h2>
            Del mismo modo, tenemos disponible un espacio de publicidad disponible en el margen derecho de la página, desde el cual podéis publicitaros. <br>
            Si estáis interesados, enviadnos un correo con asunto "Publicidad" y con vuestro banner. El banner debe tener una dimensión de 194x485 píxeles y deberá ser aprobado por nuestro equipo, tras lo cual nos pondremos en contacto con vosotros para presentaros nuestros distintos paquetes de precios.<br>
            Si lo necesitáis, también tenemos un servicio de diseño de banners. Solicitadlo en el correo y nuestro diseñador se pondrá en contacto con vosotros para haceros un presupuesto en función de lo que deseéis.
            </p>
        </div>
    </div> 
{% endblock %}