{% extends 'polls/nav.html'%}
{% block content %}
<div class="page">
    <div class="content">
        <h1>POLÍTICA DE PRIVACIDAD</h1>
        <h1>INFORMACIÓN QUE RECOLECTAMOS</h1>
        <p>
            La información que recolectamos de usted es como citamos anteriormente, con la finalidad de que nuestros servicios funcionen correctamente
            además de que usted nos la proporciona de forma voluntaria con su respectivo consentimiento.
            Para poder realizar apuestas dentro de la página web, necesitamos que usted nos proporcione datos personales 
            tales como nombre, apellidos, correo electrónico y concretamente poder acceder a su expediente académico con el
            objetivo de obtener PINFCoins, que estos funcionan en función de las notas que tenga usted registrada en el expediente.
            </br>
            Para ofrecerle una información más detallada del acceso a su expediente académico, vamos a detallarle más el funcionamiento de este sistema de PINFCoins. 
            El sistema de PINFCoins se basa en la obtención de monedas virtuales para poder utilizar dentro de la web para realizar distintas actividades como apuestas, etc. 
            Luego, la obtención de estas se consigue mediante unos parámetros que tenemos predefinidos que se calculan en función de la dificultad de la asignatura que tenga usted aprobada.
            </br>
            Para subir el expediente, usted debe subir un archivo con formato PDF que recoja todos esos datos citados anteriormente.
            </br>
        </p>

        <h1> Otra información que recolectamos </h1>
        <p>
            También se recolecta información como su dirección IP, 
            ya que es necesaria para poder acceder a la página web, garantizamos que una vez que usted se desconecte de la página web, 
            ese dato no quedará almacenado en nuestros servidores.
            Cuando usted se registra en nuestros servicios, almacenamos su correo electrónico, su nombre y apellidos. Obviamente registramos estos datos para poder identificarse 
            dentro de la web y así facilitar al sistema su identificación dentro de ella.

        </p>
        <h1>TÉRMINOS DE USO DEL SERVICIO</h1>
        <p>Las leyes en algunos territorios nos obliga a compañías como la nuestra a contarle sobre el ámbito legal del uso de sus datos personales. <br>

            En primera instancia, el usuario puede solicitar descargarse todos sus datos personales que estén registrados en nuestros servicios. También de poder desistir de ellos, con el compromiso de que nosotros lo eliminamos definitivamente.
            <br>
            En segunda instancia, indicar que para poder registrarse en nuestros servicios, el usuario debe ser mayor de edad, debido a que en nuestra aplicación está presente los juegos al azar con el uso de dinero virtual.
            <br>
            En tercera instancia, se le proporcionará su información a las autoridades competentes si se requiere un requerimiento judicial. También, el usuario entiende que no está permitido usar contenido ilegal dentro de la página ni utilizar los servicios para acosar, amenazar a otros usuarios. 
            <br>
            Nosotros como empresa, nos comprometemos:
            <li>Proteger sus datos personales.</li>
            <li>Eliminar sus datos de la base de datos si usted decide eliminar su cuenta.</li>
            <li>No compartir sus datos personales con fines lucrativos.</li>

            También, el cliente declara haber leído este documento y aceptar sus condiciones de uso una vez registrado en el servicio.
        </p>
    </div>
</div>
{% endblock %}